<% include partner_header.html %>   

<div id="content">
    <div class="page-content-wrap">
        <% if(typeof message != 'undefined'){ %>
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
            <p align="center"> <strong><%= message %></strong></p>
        </div>
        <% } %>
        
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">

                       
                        <form class="form-horizontal" role="form" method="post" action="/partner_add_vehicle">
                            <div class="col-md-4" style="text-align: center;">
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <button type="submit" class="btn btn-success btn-block"><span class="fa fa-plus"></span><%= config_json.button_add_vehicle %></button>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">

                    <div class="table-responsive" style="padding-bottom: 175px;">
                        <table class="table" id="customers2">
                            <thead>
                                <tr>
                                    <th><%= config_json.title_name %></th>
                                    <th>
                                        <%= config_json.title_plate_no %>
                                    </th>
                                    <th>
                                        <%= config_json.title_model %>
                                    </th>
                                    <th>
                                        <%= config_json.title_color %>
                                    </th>
                                    <th>
                                        <%= config_json.title_passing_year %>
                                    </th>
                                    <th>
                                        <%= config_json.title_service_type %>
                                    </th>
                                    
                                    <th>
                                        <%= config_json.title_accessibility %>
                                    </th>
                                    
                                    
                                   
                                    <th>
                                        <%= config_json.button_action %>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <% vehicle_list.forEach(function(data){ %>
                               
                                    <tr class="demo">
                                        <td>
                                            <%= data.name %>
                                        </td>
                                        <td id="a">
                                            <%= data.plate_no %>
                                        </td>
                                        <td>
                                            <%= data.model %>
                                        </td>
                                        <td>
                                            <%= data.color %>
                                        </td>
                                        <td>
                                            <%= data.passing_year %>
                                        </td>
                                        <td>
                                            <% if(data.typename == undefined){ %>
                                                <%= config_json.title_not_approved %>
                                            <% } else { %>
                                                <%= data.typename %>
                                            <% } %>
                                            
                                        </td>
                                        
                                        <td> 
                                            <% if(data.accessibility != undefined){ %>
                                            <% if(data.accessibility.length > 0 ){ %>
                                            <%= data.accessibility %>
                                            <% } %>
                                            <% } %>
                                            
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                                    <%= config_json.button_action %> <span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <form method="post" action="/partner_edit_vehicle_detail">
                                                            <input type="hidden" name="partner_id" value="<%= data.partner_id %>" />
                                                            <input type="hidden" name="vehicle_id" value="<%= data._id %>" />
                                                            <button type="submit" class="btn btn-default" style="width:100%;"><%= config_json.title_edit_detail %></button>
                                                        </form>
                                                    </li>

                                                    <li>
                                                        <form method="post" action="/vehicle_document_list_for_partner">
                                                            <input type="hidden" name="partner_id" value="<%= data.partner_id %>" />
                                                            <input type="hidden" name="vehicle_id" value="<%= data._id %>" />
                                                            <button type="submit" class="btn btn-default" style="width:100%;"><%= config_json.title_document %></button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>

                            </tbody>
                        </table>

                    </div>
                    <!-- END SIMPLE DATATABLE -->
                </div>
            </div>
        </div>
    </div>
</div>