<% include partner_header.html %>
<div class="page-content-wrap">
    <% if(typeof message != 'undefined'){ %>
              <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
                <p align="center"><%= message %></p>
              </div>
    <% } %>

    
        <form class="form-horizontal" id="editForm" enctype="multipart/form-data" method="post" action="/partner_edit_profile">
            <div class="panel panel-default">
                <div class="col-md-12">
                     <div class="panel-body form-group-separated"> 
                    <input type="hidden" name="id" value="<%= login1._id %>" />
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label"><%= config_json.title_image %></label>
                        <div class="">

                            <input id="sample_input" type="hidden" name="pictureData">

                            
                            <img id="old_image" src="<%= login1.picture  != '' ?  setting_detail.image_base_url + login1.picture : 'default.png' %>" class="img-thumbnail" id="profile_sel_img" style="height:70px; width:100px;"/>
                        </div>
                        
                    </div> 
                        <div class="form-group">
                        <label class="control-label"><%= config_json.title_id_proof %></label>
                        <div class="">
                            <input type="file" class="btn btn-primary btn-block btn-rounded fileinput" data-filename-placement="inside" name="government_id_proof" title="Change Id Proof"/>
                          <br>
                          <img src="<%= login1.government_id_proof  != '' ? setting_detail.image_base_url + login1.government_id_proof : 'default.png' %>" class="img-thumbnail" style="height:70px; width:100px;" />
                            
                        </div>
                    </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.title_first_name %></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control"  placeholder="First Name" name="first_name" value="<%= login1.first_name %>" id="first_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.title_last_name %></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="<%= login1.last_name %>" placeholder="Last Name" name="last_name" id="last_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.title_email %></label>
                        <div class="col-md-6">
                            <% if(is_public_demo == true) { %>
                                 <input type="text" class="form-control" value="<%= config_json.PUBLIC_DEMO_EMAIL %>" name="email" id='email' readonly />
                                <% } else{ %>
           <input type="email" value="<%= login1.email %>" class="form-control" placeholder="Email" name="email" id="email" readonly />
                                <% } %>
                           
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.button_current_password %></label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Password" name="password" id="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.title_phone %></label>
                        <div class="col-md-2">
                            <input type="text" name="phonecode" class="form-control" value="<%= login1.country_phone_code %>" readonly/>
                                
                            
                        </div>
                        <div class="col-md-4">
                            <input name="phone" value="<%= login1.phone %>" onkeypress="return isNumberKey(event)"  type="text" class="form-control" maxlength="<%= phone_number_length %>"  placeholder="Number" id="phone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= config_json.title_address %></label>
                        <div class="col-md-6">
                            <input type="text" value="<%= login1.address %>" class="form-control" placeholder="Address" name="address" id="address" />
                        </div>
                    </div>

                     
                    <div class="form-group">
                        <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_partner_name %></label>
                        <div class="col-md-6 col-xs-7">
                            <input type="text" value="<%= login1.partner_company_name %>" class="form-control" name="partner_company_name" />
                        </div>
                    </div>
                    </div>
               
                                                         
                    <div class="form-group">
                        <div class="col-md-12 col-xs-5">
                            <button class="btn btn-primary btn-rounded pull-right" type="submit" name="update" value="update" id="update"> <%= config_json.button_update %></button>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </form>
    </div>
            <link href="css/image-cropper/imgareaselect-default.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/image-cropper/jquery.awesome-cropper.css">

<script src="js/image-cropper/jquery.imgareaselect.js"></script> 
<script src="js/image-cropper/jquery.awesome-cropper.js"></script> 
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script>

<script type="text/javascript">

function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}

var _URL = window.URL || window.webkitURL;
        $("#profile_image").change(function(e) {
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile_sel_img').attr('src', e.target.result);
                }

                reader.readAsDataURL(profile_image.files[0]);

                img.onload = function(e) {
                    
                    if(this.width == this.height)
                    {
                        $("#profile_image_dimention").html('<font color="red"></font>');
                        $('#update').prop('disabled', false);
                    }
                    else
                    {
                        $("#profile_image_dimention").html('<font color="red"><%= config_json.error_message_for_profile_image_aspect_ratio %> <b><%= config_json.profile_image_aspect_ratio %></b></font>');
                        $('#update').prop('disabled', true);
                    }
                };
                img.src = _URL.createObjectURL(file);
            }
        });

</script>   
              
<script>

$(document).ready(function () {
        $('#sample_input').awesomeCropper(
            { width: 150, height: 150, debug: true }
        );
    });

   
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    $(function() {
     $( "#editForm" ).validate({
       rules: {
         first_name: "required",
         last_name: "required",
         password: {
          minlength: 6  ,
          required: true
        },
        email: {
          required: true,
          email: true
          
        },
        phone: {
          required: true,
          minlength: <%= phone_number_min_length %>,
          maxlength: <%= phone_number_length %>
            

        }
        


      }
    });
    });
</script>     

<% include footer_form.html %>