<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title><%= constant_json.dispatcher_panel_name %></title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />        
        <link rel="icon" href="web_images/title_image.png" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <div class="login-body">
                    <div class="login-title"><%= config_json.title_new_password %></div>
                    <form action="/dispatcher_update_psw" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="hidden"  class="form-control" value="<%= id %>" name="id"/>
                                <input type="hidden"  class="form-control" value="<%= token %>" name="token"/>
                                <input type="password" class="form-control" placeholder="Enter your new password" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button class="btn btn-info btn-block"><%= config_json.button_submit %></button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </body>
</html>
<% include login_footer.html %> 