<!-- START THIS PAGE PLUGINS-->        
        <!--/////For Table Responsive & Export as File /////-->
        <script type="text/javascript">
        $(document).ready(function(){
                setTimeout(function() {
                    $('.alert').fadeOut('fast');
                }, 3000)
            });
</script>  
        <script type='text/javascript' src='js/dist/table2excel.js'></script>
        <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>
        <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>                
       
        <!-- END PLUGINS -->
  <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-select.js'></script>
  
<script type="text/javascript" src="js/plugins/tableexport/tableExport.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jquery.base64.js"></script>
        <!-- START THIS PAGE PLUGINS-->        
        
       <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script> 
        <!-- END TEMPLATE -->
    </html>