	
<head>
	<meta charset="utf-8">
	<title>
        <%= constant_json.app_name %>
    </title>
</head>
	
<body>
	<div style="text-align: center;">
        <h2 style="color:black;font-size: 65px;">Support</h2>
        <h5 style="color:black; margin-top: 20px;font-size: 20px;">phone : <%= setting_data.admin_phone %></h5>
        <h5 style="color:black; margin-top: 5px;font-size: 20px;">email : <label style="color:blue;"><%= setting_data.admin_email %></label></h5>
        <h5 style="color:black; margin-top: 5px;font-size: 20px;">support email : <label style="color:blue;"><%= setting_data.contactUsEmail %></label></h5> 
    </div>
</body>