<% include user_header.html %>
               
                <!-- PAGE CONTENT WRAPPER -->
    <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert" style="padding-top: 75px;margin-bottom: -135px;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>   
      <div class="alert alert-success" role="alert" id="request_error" style="display:none">
          <button type="button" id="close" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center" id="request_message"> <strong></strong></p>
      </div> 


<style>
  
  .btn-default {
    width:100%; 
    font-family: 'RobotoRegular';font-size: 15px;background-color: #047f8f;border-color: #047f8f;float: left;color:#fff;
  }
  .btn-default:hover{
    background-color: #1a1d2e;
    border-color: #1a1d2e;
    color: #fff;
    border-radius: 0;

  }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_selet_bg">
      <div class="row">
          <form class="form-horizontal" role="form" method="post" action="/history">
                  <div class="table_head">
                    <div class="hist_head box_selet_lft">
                     

                      <div class="hist_lft hist_lft2">
                          <div class="filter_text"><%= config_json.title_sort %></div>  
                          <div class="filter_select  " >
                              <select class="selectpicker" name="sort_item">
                                  <% if(sort_field == "provider_detail.first_name") { %>
                                    <option value='unique_id' ><%= config_json.title_id %>
                                    <option value='provider_detail.first_name' selected="selected"><%= config_json.title_provider_name %></option>
                                  
                                  <% } else { %>
                                    <option value='unique_id' selected="selected"><%= config_json.title_id %>
                                    <option value='provider_detail.first_name' ><%= config_json.title_provider_name %></option>
                                  <% } %>
                              </select>
                          </div>
                         <div class="filter_select filter_select2 ">
                              <select class="selectpicker" name="sort_item">
                                    <% if(sort_order == "1") { %>
                                      <option value="1" selected><%= config_json.sort_asc %></option>
                                      <option value="-1"><%= config_json.sort_desc %></option>
                                      <% } else{ %>
                                      <option value="1" ><%= config_json.sort_asc %></option>
                                      <option value="-1" selected><%= config_json.sort_desc %></option>
                                      <% } %>
                              </select>
                          </div>
                      </div>

                       <div class="hist_lft">  
                          <div class="filter_text"><%= config_json.title_search %></div>
                          <div class="filter_select  " >
                              <select class="selectpicker" name="search_item">>
                                  <% if(search_item == "unique_id") { %>
                                    <option value='unique_id' selected="selected"><%= config_json.title_id %></option>
                                    <option value='provider_detail.first_name'><%= config_json.title_provider_name %></option>
                                  <% } else { %>
                                    <option value='unique_id'><%= config_json.title_id %></option>
                                    <option value='provider_detail.first_name' selected><%= config_json.title_provider_name %></option>
                                  <% } %>
                              </select>
                          </div>
                          <div class="filetr_sea">
                              <input type="text" value="<%= search_value %>" name="search_value"/>
                              <input type="submit" name="" value="submit">
                          </div>
                      </div>


                      <div class="hist_lft hist_lft2">
                          
                          <div class="filter_text"><%= config_json.title_date_filter %></div>
                          <div class="date_start">
                           
                              <input type="text" class="datepicker" value="<%= filter_start_date %>" placeholder="Start Date" name="start_date" id="start_date" readonly/>

                            </div>
                          <div class="date_to">To</div>
                          <div class="date_start">
                              <input type="text" class="datepicker"  value="<%= filter_end_date %>" placeholder="End Date" name="end_date" id="end_date" readonly/>
                          </div>
                      </div>


                      <div class="app_rgt_bg" style="margin-top: 21px;">
                         <li><a onClick ="export_excel()"><img src="user_panel/images/book_img.png"></a></li>
<!--                          <li><a onClick ="export_excel()"><img src="user_panel/images/book_img.png"></a></li>-->

                          <input type="submit" id="apply_filter" name="" value="APPLY" class="act">
                         
                      </div>
                  </div>
          </form> 
      </div>
               

               <div class="row">
                   <div class="table_bg">
                       <div class="table"  id="customers2">
                           <div class="table_top">
                               <div class="table_id" style="width: 8%;"><%= config_json.title_id %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_provider %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_date_time %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_status %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_amount %></div>
                               <div class="table_id Pickup" style="width: 14%;"><%= config_json.title_payment_mode %></div>
                               <div class="table_id Pickup" style="width: 14%;"><%= config_json.title_payment_status %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.button_action %></div>

                           </div>
                           <% detail.forEach(function(data , index){ %>

                           <div class="table_top table_cont">
                               <div class="table_id"  style="width: 8%;"><%= data.unique_id %></div>
                                <div class="table_id Pickup"  style="width: 12%;" id="provider<%= data._id %>">

                                        <% if(data.provider_detail.length > 0){ %>
                                          <%= data.provider_detail[0].first_name %> <%= data.provider_detail[0].last_name %>
                                        <% } else { %>
                                          No Provider
                                        <% } %>
                                            
                                </div>
                               <div class="table_id Pickup" style="width: 12%;"><%= moment(data.created_at).tz(data.timezone).format("DD MMM YYYY") %></br><%= moment(data.created_at).tz(data.timezone).format("hh:mm a") %></div>
                               <div class="table_id Pickup" style="width: 12%;" id="<%= data._id %>"><% if(data.is_trip_cancelled == 1) { %>
                                                      <% if(data.is_trip_cancelled_by_provider == 1) { %>
                                                          <span class="label label-danger"><%= config_json.title_total_cancelled_by_provider %></span>
                                                          <% } else if(data.is_trip_cancelled_by_user == 1) { %>
                                                          <span class="label label-danger"><%= config_json.title_total_cancelled_by_user %></span>
                                                       <% } else { %>
                                                          <span class="label label-danger"><%= config_json.title_total_cancelled %></span>
                                                       <% } %>
                <% } else { if(data.is_provider_status == 2) { %>
                <span class="label label-warning"><%= config_json.title_trip_status_coming %></span>
                <% } else if(data.is_provider_status == 4) { %>
                <span class="label label-info"><%= config_json.title_trip_status_arrived %></span>
                <% } else if(data.is_provider_status == 6) { %>
                <span class="label label-info"><%= config_json.title_trip_status_started %></span>
                <% } else if(data.is_provider_status == 9) { %>
                <span class="label label-success"><%= config_json.title_trip_status_completed %></span>
                <% } else if(data.is_provider_status == 1 || data.is_provider_status == 0) { %>
                    <% if(data.is_provider_accepted == 1){ %>
                      <span class="label label-info"><%= config_json.title_accepted_request %></span>
                    <% } else { %>
                      <span class="label label-info"><%= config_json.title_trip_status_waiting %></span>
                    <% } %>
                    
                <% }} %></div>
                               <div class="table_id Pickup" style="width: 12%;" id="amount<%= data._id %>"><%= data.total %></div>
                               <div class="table_id Pickup" style="width: 14%;"><% if(data.payment_mode == 1) { %>
                <span class="label label-default"><%= config_json.title_pay_by_cash %></span>
                <% } else { %>
                <span class="label label-primary"><%= config_json.title_pay_by_card %></span>
                <% } %></div>
                               
                               <div class="table_id payment" style="width: 14%;"><% if(data.is_pending_payments == 1) { %>
                                                    <span class="label label-warning"><%= config_json.title_pending %></span>
                                                    <% } else { %>
                                                      <% if(data.is_paid == 1) { %>
                                                      <span class="label label-success"><%= config_json.title_paid %></span>
                                                      <% } else { %>
                                                      <span class="label label-danger"><%= config_json.title_not_paid %></span>
                                                      <% } %>
                                                    <% } %></div>
                                
                               <div class="table_id Pickup" style="width: 12%;">
                               <div class="">
                                   <div class="select_btn_bg">
                                       <div class="action_btn_bg">
        <div class="act_btn_top" onclick="act_btn_top1(<%=index%>)">Action</div>
                                            <ul style="display: none;" class="act_btn_dit<%=index%>">
                                          
                                               <% if(data.is_trip_cancelled !== 1 && data.is_provider_status >= 6) { %>
                                                         <li>
                                                          <form method="post" action="/user_trip_map">
                                                                <input type="hidden" name="id" value="<%= data._id %>" />
                                                                <input type="hidden" name="u_name" value="<%= data.user_detail.first_name %> <%= data.user_detail.last_name %>" />
                                                                <% if(data.provider_detail.length > 0){ %>
                                                                <input type="hidden" id="pr_name<%= data._id %>" name="pr_name" value="<%= data.provider_detail[0].first_name %> <%= data.provider_detail[0].last_name %>" />
                                                                <% } %>
                                                              
                                                                <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_view_map %> </button>
                                                                
                                                                 
                                                           </form>
                                                          </li>
                                                        <% } %>
                                                        <% if(data.is_provider_status == 9 || (data.is_trip_cancelled == 1 && data.is_cancellation_fee == 1)) { %>
                                                               <li>
                                                                <form method="post" action="/user_trip_invoice">
                                                                <input type="hidden" name="id" value="<%= data._id %>" />
                                                                <input type="hidden" name="type" value="user" />
                                                              
                                                                <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_view_invoice %> </button>
                                                               </form>
                                                               </li>
                                                               <% } %>    
                                                               <li id="cancel_request<%= data._id %>">
                                                               <% if(data.is_provider_status < 6 && data.is_trip_cancelled==0){ %> 
                                                               
        <button type="button" class="btn btn-default" style="width:100%;" onclick="cancel('<%= data.user_detail._id %>', '<%= data.user_detail.token %>', '<%= data._id %>')" ><%= config_json.button_cancel %> </button>
                                                               <% } %>
                                                               </li> 
                                                               
                                            </ul>
                                       </div>
                                     </div>
                               </div>
                               </div>
                           </div>
                           <% }); %>


                       </div>
                   </div>
               </div>
      
  </div> 
        
      <!-- END TIMELINE FILTER -->                
                
                                       
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->  

       <script type="text/javascript">
       
       function cancel(userid,token,id){
                   $.ajax({
                   type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                           url         : '/canceltrip', /// the url where we want to POST
                           data        : {user_id:userid, token:token, trip_id:id}, // our data object
            datatype    :"json",
            success:function(response){
                                   if (response.success){
                           $('#request_error').show();
                           $('#request_message').text("Request Cancelled Successfully");
                           setTimeout(function () {
                           $('#request_error').hide();
    }, 3000);
           }                    
       }

                   });
           }
  
        $(document).ready(function() {

                                   var trip_id_array = new Array();
                           var interval;
                           $('#start_date').datepicker({
                           format: 'yyyy-mm-dd',
                                   endDate: new Date(Date.now())

        }).on("input change", function (e) {
                                   var end_date = $('#start_date').datepicker('getDate');
                           end_date.setDate(end_date.getDate() + 1);
                           $('#end_date').datepicker('setStartDate', end_date);
        });
                              
        $('#end_date').datepicker({
                                   format: 'yyyy-mm-dd',
                                   endDate: new Date(Date.now())

        }).on("input change", function (e) {
                                   var start_date = $('#end_date').datepicker('getDate');
                           start_date.setDate(start_date.getDate() - 1);
                           $('#start_date').datepicker('setEndDate', start_date);
        });
                                    
        <% detail.forEach(function(data){ %>
                                   trip_id_array.push('<%= data._id %>')

        <% }); %>
                  
        if(trip_id_array.length >0)
        {
                                   clearInterval(interval);
                           interval = setInterval(function () {
                           $.ajax({
                           type: 'POST',
                                   url: '/requsest_status_ajax',
                                   data: {'trip_id_array':trip_id_array},
        dataType: "json",
        success: function (res) {
                                           res.forEach(function(trip_data){
                                           if (trip_data.provider == "")
                                           {
                                           $('#provider' + trip_data.trip_detail._id).html("No Provider");
                                           $('#pr_name' + trip_data.trip_detail._id).html("No Provider");
        }
        else
        {
                                                   $('#provider' + trip_data.trip_detail._id).html(trip_data.provider);
                                           $('#pr_name' + trip_data.trip_detail._id).html(trip_data.provider);
        }


        if(trip_data.trip_detail.is_trip_cancelled == 1)
        {
                                                   if (trip_data.trip_detail.is_trip_cancelled_by_provider == 1)
                                           {
                                           $('#' + trip_data.trip_detail._id).html('<span class="label label-danger"><%= config_json.title_total_cancelled_by_provider %></span>');
        }
        else if(trip_data.trip_detail.is_trip_cancelled_by_user == 1)
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-danger"><%= config_json.title_total_cancelled_by_user %></span>');
        }
        else
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-danger"><%= config_json.title_total_cancelled %></span>');
        }
        }
        else
        {
                                                   if (trip_data.trip_detail.is_provider_status == 2)
                                           {
                                           $('#' + trip_data.trip_detail._id).html('<span class="label label-warning"><%= config_json.title_trip_status_coming %></span>');
        }
        else if(trip_data.trip_detail.is_provider_status == 4)
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-info"><%= config_json.title_trip_status_arrived %></span>');
        }
        else if(trip_data.trip_detail.is_provider_status == 6)
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-info"><%= config_json.title_trip_status_trip_started %></span>');
        }
        else if(trip_data.trip_detail.is_provider_status == 9)
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-success"><%= config_json.title_trip_status_completed %></span>');
                                           $('#amount' + trip_data.trip_detail._id).html(trip_data.trip_detail.total);
                                           if (trip_data.trip_detail.is_pending_payments == 1)
                                           {
                                           $('#payment_status' + trip_data.trip_detail._id).html('<span class="label label-danger"><%= config_json.title_pending %></span>');
        }
        else
        {
                                                   if (trip_data.trip_detail.is_paid == 1)
                                           {
                                           $('#payment_status' + trip_data.trip_detail._id).html('<span class="label label-success"><%= config_json.title_paid %></span>');
        }
        else
        {
                                                   $('#payment_status' + trip_data.trip_detail._id).html('<span class="label label-danger"><%= config_json.title_not_paid %></span>');
        }
        }
        }
        else if(trip_data.trip_detail.is_provider_status == 1 || trip_data.trip_detail.is_provider_status == 0)
        {
                                                   if (trip_data.trip_detail.is_provider_accepted == 1)
                                           {
                                           $('#' + trip_data.trip_detail._id).html('<span class="label label-info"><%= config_json.title_accepted_request %></span>');
        } 
        else
        {
                                                   $('#' + trip_data.trip_detail._id).html('<span class="label label-info"><%= config_json.title_trip_status_waiting %></span>');
                                                          }
                                                          }
                                                          }
                                                          })
                                                          }
                                                          });
                                                       },1000);
                                                          }
                                                          
                                                       
                });
function export_excel(){
            $.ajax({
                      type: 'POST',
                      url: '/generate_user_history_export_excel',
                      data: $('.form-horizontal').serialize(),
                      dataType: "json",
                      success: function (res) {
                          window.open(res)
                      }
            });
}
</script>  
<% include user_footer.html %>