<!--/////For Table Responsive & Export as File /////-->
        
        <script type="text/javascript">
        $(document).ready(function(){
            console.log(111111);
            // $.ajax({
            //     type: 'POST',
            //      url: '/check_language',
            //      data: {'type' : 'admin'},
            //      dataType: "json",
            //      success: function (response) {
            //          // window.location.reload();
            //      }
            // })

                setTimeout(function() {
                    $('.alert').fadeOut('fast');
                }, 3000)
            });
</script>  
        <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>
        <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>                
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>

        <!-- END PLUGINS -->
  <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-select.js'></script>
        <!-- START THIS PAGE PLUGINS-->        
        <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <!-- ///// for pagination ///// -->
              
       <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script> 
        
    <!-- END SCRIPTS -->
    </html>    
        <!-- END TEMPLATE -->
    </html>
    <script>

    $(document).ready(function(){ 
       setTimeout(function() {
                    $.ajax({
                        type: 'POST',
                         url: '/check_language',
                         data: {'type' : 'admin'},
                         dataType: "json",
                         success: function (response) {
                        }
                    })
        }, 1000)
    })
</script>