<!--/////For Table Responsive & Export as File /////-->
        
       
 
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
                setTimeout(function() {
                    $('.alert').fadeOut('fast');
                }, 3000)
            });
</script> 
        <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>                
       
               

        
    <!-- END SCRIPTS -->
    </html>    
        <!-- END TEMPLATE -->
    </html>