<% include header.html %>

<body>
	

	<div class="appbanner">
		<div class="container">
			<div class="width40"><iframe width="100%" height="" src="https://www.youtube.com/embed/f9vyWFvlmo4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
			<div class="width50">
				<div class="top_img"><img src="new_design/images/app-icon.png" alt="icon" width="52"  /></div>
				<h1>Putting drivers first <span>An experience built around you</span></h1>				
				<p>You're in control with SubeUp. The app for drivers is designed with features that help you decide how, where, and when you earn.</p>	
				
			</div>
			
			
			<div class="clear"></div>
		</div>
	</div>
		
	
	<div class="inner_con app_in">		
		<div class="appsection1">
			<div class="container">
				<div class="owl-carousel">				
					<div class="item">
						 <div class="col_2">
							<img src="new_design/images/mobileimg.png" alt="mobile" />
						</div>
						<div class="col_2 app_con">
							<h2>Going online</h2>
							<p>SubeUp is always available. So whenever you're ready to drive, open the app and tap Go Online.</p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="item">
						<div class="col_2">
							<img src="new_design/images/mobileimg.png" alt="mobile" />
						</div>
						<div class="col_2 app_con">
							<h2>Going online12121</h2>
							<p>SubeUp is always available. So whenever you're ready to drive, open the app and tap Go Online.</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>		
			</div>
		</div>
		
		<div class="appsection2">
			<div class="container">
				<h2><span>Earnings</span>Get the most from driving</h2>
				<div class="row">
					<div class="col_2">
						<div class="pad_r">
							<img src="new_design/images/img1.png" alt="img" />
							<p><span>Follow your earnings</span>You'll see exact fares after every trip and get detailed reports of weekly earnings so you know what you're taking home and when you hit your goals.</p>
						</div>	
					</div>
					<div class="col_2">
						<div class="pad_r">
							<img src="new_design/images/img2.png" alt="img" />
							<p><span>Profitable hotspots</span>Make sure you're in the right place at the right time with a live map showing areas where riders need drivers most.</p>
						</div>	
					</div>
					<div class="col_2">
						<div class="pad_r">
							<img src="new_design/images/img3.png" alt="img" />
							<p><span>Minimize downtime</span>The driver app will often send you new trip requests when you approach your rider's destination to help you make the most of your time behind the wheel.</p>
						</div>	
					</div>
					<div class="col_2">
						<div class="pad_r">
							<img src="new_design/images/img4.png" alt="img" />
							<p><span>Money when you need it</span>Payments happen electronically with SubeUp. By providing your banking account details, you'll receive payments on a weekly basis. You can access your payment statements at any time by visiting your partner dashboard.</p>
						</div>	
					</div>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="safetysection2 appsection3">
			<div class="width40"></div>
			<div class="container">
				<div class="width60">
					<h2><span>Convenience</span>Let the app be your guide</h2>
					<p><span>Turn-by-turn navigation</span>
					The app makes it easy to find your way. Get turn-by-turn directions to your rider's pickup location and destination so all you have to focus on is the road ahead.</p>
					<p><span>Convenient pit stops</span>
					The map shows you the nearest gas stations with the lowest prices as well as public restrooms for when you need to take a break.</p>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="appsection4">
			<div class="mar_l">
				<div class="container">
					<div class="marl_10">
						<h2><span>Communication</span>Feedback for success</h2>
						<div class="row">
							<div class="col_2">
								<div class="pad_r">
									<img src="new_design/images/img5.png" alt="img">
									<p><span>Stay informed</span>Get customized updates about local events and promotions in your city, and tips on how to deliver the best SubeUp experience.</p>
								</div>	
							</div>
							<div class="col_2">
								<div class="pad_r">
									<img src="new_design/images/img6.png" alt="img">
									<p><span>Rider comments</span>Use the ratings section to hear what people love about their 5-star trips and find out why riders give low ratings so you can decide how to adjust accordingly.</p>
								</div>	
							</div>
							
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="appsection5">
			<div class="container">
				<div class="appsection5_in">
					<div class="col_2">
						<h2><span>Sign up</span>Sign up</h2>
						<p>Drive with SubeUp and earn on your own terms.</p>
						<a href="/" class="btn">SIGN UP TO DRIVE<i class="fa fa-long-arrow-right"></i></a>
						<div class="bod_t">
							<h4>Already signed up?</h4>
							<p>Invite your friends to try SubeUp and you'll earn extra when they hit the road.</p>
							<a href="/sign-in">INVITE FRIENDS<i class="fa  fa-angle-right"></i></a>					
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="notice_btm">
					<p>The information provided on this web page is intended for informational purposes only and may not be applicable in your country, region, or city. It is subject to change and may be updated without notice.</p>
				</div>
			</div>
		</div>
	</div>
				
	
	
	
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
    $("#btnNext").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == (c - 1) ? currentTab : (currentTab + 1);
        tabs.tabs('select', currentTab);
        $("#btnPrevious").show();
        if (currentTab == (c - 1)) {
            $("#btnNext").hide();
        } else {
            $("#btnNext").show();
        }
    });
    $("#btnPrevious").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == 0 ? currentTab : (currentTab - 1);
        tabs.tabs('select', currentTab);
        if (currentTab == 0) {
            $("#btnNext").show();
            $("#btnPrevious").hide();
        }
        if (currentTab < (c - 1)) {
            $("#btnNext").show();
        }
    });
</script>

<script type="text/javascript">

$( document ).ready(function() {
    $('.menuOpen').click(function(){
    $('.menu, .map, .bcome_driver').toggle();
});

if ($(window).width() < 767) {
    $('.menuOpen').click(function(){
    $('.menu2').toggleClass('dis_block');
});
}
});


	
</script>
<script src="js/owl.carousel.js"></script>
 <script>
	jQuery(document).ready(function($) {
	 
	  $('.owl-carousel').owlCarousel({
		nav:true,
		center: false,
		dots: true,
		items:1,
		loop: false,
		slideBy: 1,
		animateIn: 'fadeIn',
        animateOut: 'fadeOut',		 
		responsive: {
		 0: {
				items: 1,
			  },
		 600: {
				items: 1,
			  },
		 1024: {
			items: 1
		  }
		 
		}
	  });
	});
</script> 	
<script>
  $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open2');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open2');
		};
	}	

	var accordion = new Accordion($('.accordion'), false);
});


</script>	
	
	

</body>
<% include footer.html %>
</html>