<% include header.html %>
<body>	
	
		<div class="sub_banner_safety safety_drive">
			<div class="width42"> 
				<div class="img_div"></div>
			</div>
			<div class="container">				
				<div class="width56">
					<h1>Safety and confidence behind the wheel<span>Our commitment to drivers</span></h1>				
					<p>SubeUp is dedicated to keeping you safe on the road. Our technology enables us to focus on the safety of drivers like you before, during, and after every trip.</p>
					<div class="start_driving"><a href="#" class="btn">START DRIVING WITH SubeUp<i class="fa  fa-long-arrow-right"></i></a></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

	<div class="inner_con safety safety_drive">
		
		<div class="hsection5 bg2">
			<div class="marl_slide">
				<h2><span>Helping to keep you safe</span>New safety features</h2>
				<div class="nonloop owl-carousel">
				
					<div class="item">
					  <div class="col_2">						
							<div class="img_div">
								<img src="new_design/images/women-child.jpg" alt="img1">
							</div>
							<div class="bg">
								<h4>Share my trip</h4>
								<p>There’s now an easy way to let friends and family know your whereabouts and trip status. Just go to Settings in the driver app and select Share My Trip.</p>
								<a href="#" class="how_works">Learn more<i class="fa  fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					
					
			   
				</div>
			</div>
		</div>
		<div class="safetysection1">					
				<div class="container">					
					<div class="icon_div"><img src="new_design/images/icon2.png" alt="briefcase"></div>
					<div class="overflow_div">
						<div class="top_text">Before the trip</div>
						<h2>Picking up passengers</h2>
						<p><span>No anonymous pickups</span></p><p>All riders must create an account and provide their name and phone number before they can request a ride. So when you accept a request, you’ll know who you’re picking up and so will we.</p>

						<p><span>Substitute phone numbers</span></p><p>In many locations around the world, SubeUp uses technology that anonymizes rider and driver phone numbers to keep contact details confidential. So when you and your rider need to contact each other, your personal information stays private</p>						
					</div>	
					<div class="clear"></div>
				</div>

		</div>
		<div class="safetysection2">
			<div class="width40 img2"></div>
			<div class="container">
				<div class="width60">
					<h2><span>On trip</span>Getting to the destination</h2>
					<p><span>In-app navigation</span></p><p>When riders enter their destination, you will automatically receive turn-by-turn directions in the app, so you can focus on getting there safely.</p>

					<p><span>Always on the map</span></p><p>GPS data is logged for every trip so we know who you’re driving and where you’re going, which promotes accountability and encourages good behavior.</p>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="safetysection1">					
			<div class="container">					
				<div class="icon_div"><img src="new_design/images/icon2.png" alt="briefcase"></div>
				<div class="overflow_div">
					<div class="top_text">After the trip</div>
					<h2>Always improving the SubeUp experience</h2>
					<p><span>No change, no hassle</span></p><p>Fares automatically charge the rider’s payment method on file, so for most trips you can avoid using cash altogether. But if a rider pays in cash, the app automatically issues credit so you’ll never have to make change.</p>

					<p><span>Driver feedback</span></p><p>You rate your rider after every trip. We review those ratings to ensure that everyone you pick up is as respectful as you are. Riders reported to violate our terms of service may be prevented from using SubeUp.</p>

					<p><span>24/7 support</span></p><p>Our support team is always ready to respond to any questions you may have about your driving experience.</p>						
					</div>	
				<div class="clear"></div>
			</div>
		</div>
		<div class="safetysection2">
			<div class="width40 img3"></div>
			<div class="container">
				<div class="width60">
					<blockquote>"Knowing that I'm helping keep my passengers and other drivers on the road safe assures me that I'm doing something good."</blockquote>
					<p><span>Christine,</span>
					Driver from Pittsburgh*</p>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		
		<div class="safetysection4 bg2">
			<div class="container">
				<h2><span>There for you</span>Safety never sleeps</h2>
				<div class="safety_div row">
					<div class="vert_line"></div>
					<div class="col_2">
						<div class="icon_div"><img src="new_design/images/icon2.png" alt="briefcase"></div>
						<div class="overflow_div padr">
							<h4>Rapid response</h4>
							<p>Our specially-trained incident response teams are available around the clock to handle any urgent safety concerns that arise.</p>
						</div>
					</div>
					<div class="col_2 padl">
						<div class="icon_div"><img src="new_design/images/icon2.png" alt="briefcase"></div>
						<div class="overflow_div">
							<h4>Rapid response</h4>
							<p>Our specially-trained incident response teams are available around the clock to handle any urgent safety concerns that arise.</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			
			</div>
		</div>
		<div class="safetysection5">
			<div class="container">
				<h2>Drive safely with SubeUp</h2>
				<a href="#" class="btn">SIGN UP TO DRIVE<i class="fa fa-long-arrow-right"></i></a>
			
			</div>
		</div>
		<div class="safetysection6 bg2">
			<div class="container">
				<p>The information provided on this web page is intended for informational purposes only and the features described may not be available in your country, region, or city, or with your version of the SubeUp app. It is subject to change and may be updated without notice.</p>
				<p>*Image provided by Dave Issod Photography.</p>
			</div>
		</div>
	</div>
	
	
	
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui1.js"></script>


<script type="text/javascript">

$( document ).ready(function() {
    $('.menuOpen').click(function(){
    $('.menu, .map, .bcome_driver').toggle();
});

if ($(window).width() < 767) {
    $('.menuOpen').click(function(){
    $('.menu2').toggleClass('dis_block');
});
}
});


	
</script>
<script src="js/owl.carousel.js"></script>
 <script>
	jQuery(document).ready(function($) {
	 
	  $('.nonloop').owlCarousel({
		nav:true,
		center: false,
		dots: true,
		items:2,
		loop: false,
		 slideBy: 2,	
		responsive: {
		 0: {
				items: 1,
			  },
		 600: {
				items: 2,
			  },
		 1024: {
			items: 3
		  }
		 
		}
	  });
	});
</script> 	
<script>
  $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open2');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open2');
		};
	}	

	var accordion = new Accordion($('.accordion'), false);
});


</script>	
	
	

</body>
<% include footer.html %>
</html>