<% include header.html %>

<body>
    <header>
        <div class="top_img"></div>
        <!-- <h1 class="sign_logo"><a href="index.html"><img src="new_design/images/SubeUp_logo.png" alt="logo" /></a></h1> -->
        
    </header>
    
    <div class="inner_con login_page">          
        <div class="container">
        
            <div class="login_form">
                <form action="/user_forgot_password" id="login_form" class="form-horizontal" method="post">
                    <h3>Forgot Password</h3>
                    <div class="form_group">
                       <input type="hidden" name="type" value="<%= type %>" />
                        <label>Email Or Phone</label>
                        <input type="text" name="email" placeholder="Enter your email or phone" required/>
                        <div class="error_msg">Please enter your email</div>
                    </div>
                    <div class="sub_btn">
                        <button type="submit" style="width: 100%;"><a class="btn">Next<i class="fa fa-long-arrow-right"></i></a></button>
                    </div>
                    <p class="acc_text">Don't have an account? <a href="/">Sign up</a></p>              
                    
                </form>
            </div>
        </div>      
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<!--    <meta name="google-signin-client_id" content="<%= process.env.google_user_app_id %>"> -->

<script type="text/javascript">

    var currentTab = 0;
    $(function () {
        $(".tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });

    });

    $("#btnNext").live("click", function () {
        var tabs = $('.tabs').tabs();
        var c = $('.tabs').tabs("length");
        currentTab = currentTab == (c - 1) ? currentTab : (currentTab + 1);
        tabs.tabs('select', currentTab);
        $("#btnPrevious").show();
        if (currentTab == (c - 1)) {
            $("#btnNext").hide();
        } else {
            $("#btnNext").show();
        }
    });
    $("#btnPrevious").live("click", function () {
        var tabs = $('.tabs').tabs();
        var c = $('.tabs').tabs("length");
        currentTab = currentTab == 0 ? currentTab : (currentTab - 1);
        tabs.tabs('select', currentTab);
        if (currentTab == 0) {
            $("#btnNext").show();
            $("#btnPrevious").hide();
        }
        if (currentTab < (c - 1)) {
            $("#btnNext").show();
        }
    });

    if ($(window).width() < 767) {
        $('.menuOpen').click(function () {
            $('.menu2').toggleClass('dis_block');
        });
    }

    $(document).ready(function() {
     

    });


</script>
<script src="js/owl.carousel.js"></script>
 <script>
    jQuery(document).ready(function($) {
     
      $('.nonloop').owlCarousel({
        nav:true,
        center: false,
        dots: true,
        items:2,
        loop: false,
         slideBy: 2,    
        responsive: {
         0: {
                items: 1,
              },
         600: {
                items: 2,
              },
         1024: {
            items: 3
          }
         
        }
      });
    });
</script>   
<script>


</script>   


</body>
<% include footer.html %>
</html>