<<% include header.html %>
<body>	
	
		<div class="sub_banner_safety">
			<div class="width42"> 
				<div class="img_div"></div>
				<div class="start_box">
					<a href="#">
						<div class="text_in">Start riding with SubeUp</div>
						<div href="#" class="signup">Sign up<i class="fa  fa-long-arrow-right"></i></div>
					</a>
					
				</div>
			</div>
			<div class="container">				
				<div class="width56">
					<h1>Trip safety <span>Our commitment to riders</span></h1>				
					<p>SubeUp is dedicated to keeping people safe on the road. Our technology enables us to focus on rider safety before, during, and after every trip. Here's how.</p>	
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		
	<div class="inner_con safety">
		<div class="container">
			<div class="start_box">
				<a href="/">
					<div class="text_in">Start riding with SubeUp</div>
					<div href="#" class="signup">Sign up<i class="fa  fa-long-arrow-right"></i></div>
				</a>
				
			</div>
					
		</div>
		<div class="safetysection1">					
				<div class="container">					
					<div class="icon_div"><img src="new_design/images/icon1.png" alt="briefcase"></div>
					<div class="overflow_div">
						<div class="top_text">Before the trip</div>
						<h2>Getting a safe ride</h2>
						<p><span>Safe pickups</span> The SubeUp app automatically finds your location to provide door-to-door service. That means you stay safe and comfortable wherever you are until your driver arrives.</p>
						<p><span>Open to everyone, everywhere</span> All ride requests are blindly matched with the closest available driver. So there is no discrimination based on race, gender, or destination.</p>
						<p><span>Driver profiles</span>	When you’re matched with a driver, you’ll see their name, license plate number, photo, and rating—so you know who’s picking you up ahead of time. And even after the trip, you’re able to contact your driver if you left something behind.</p>						
					</div>	
					<div class="clear"></div>
				</div>

		</div>
		<div class="safetysection2">
			<div class="width40"></div>
			<div class="container">
				<div class="width60">
					<h2><span>On trip</span>Getting to your destination</h2>
					<p><span>Share your ETA</span>
					Once your driver has picked you up, share your ETA with your friends and family so they can follow your route and know when to expect you.</p>
					<p><span>Always on the map</span>
					Follow your trip in real-time so you always know where you are. And if you use SubeUpPOOL, you’ll know exactly who’s riding with you.</p>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="safetysection1">					
			<div class="container">					
				<div class="icon_div"><img src="new_design/images/icon2.png" alt="briefcase"></div>
				<div class="overflow_div">
					<div class="top_text">After the trip</div>
					<h2>Always here for you</h2>
					<p><span>Anonymous feedback</span>After every trip, you can rate the driver and provide anonymous feedback about your ride. We review all feedback because our goal is to make every ride a great experience.</p>

					<p><span>24/7 support</span>Our support team is always ready to respond to any questions you may have about your trip and help you retrieve lost items.</p>

					<p><span>Rapid response</span>Our specially-trained incident response teams are available around the clock to handle any urgent concerns that arise.						
					</div>	
				<div class="clear"></div>
			</div>
		</div>
		<div class="safetysection2 bg2">
			<div class="width40 img2"></div>
			<div class="container">
				<div class="width60">
					<blockquote>“I work events late at night, and with SubeUp, I feel safer knowing I don’t have to go wait outside and hope I can flag down a ride.”</blockquote>
					<p><span>Brittany,</span>
					Rider from Portland</p>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="safetysection3">
			<div class="container">
				<h2><span>In the App and Offline</span>Improving experiences with technology</h2>
				<div class="travel_info htravelinfo">
					<div class="row">
						<div class="col_3">
							<div class="icon_div"><img src="new_design/images/icon1.png" alt="briefcase"></div>
							<div class="overflow_div">
								<h4>Substitute phone numbers</h4>
								<p>In many locations around the world, SubeUp uses technology that anonymizes phone numbers to keep contact details confidential. So when you and your driver need to contact each other, your personal information stays private.</p>
							</div>
						</div>
						<div class="col_3">
							<div class="icon_div"><img src="new_design/images/icon2.png" alt="icon"></div>
							<div class="overflow_div">							
								<h4>Always on the map</h4>
								<p>GPS data is logged for every trip so we know where and when you’re riding and who’s behind the wheel. It also helps us ensure that drivers are taking the best route every time.</p>
							</div>
						</div>
						<div class="col_3">
							<div class="icon_div"><img src="new_design/images/icon3.png" alt="icon"></div>
							<div class="overflow_div">
								<h4>Assisting law enforcement</h4>
								<p>In cases where local law enforcement provides us with valid legal process, we provide them with useful data to help in their investigations.</p>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="safetysection4 bg2">
			<div class="container">
				<h2><span>Rider safety tips</span>How to keep yourself safe</h2>
				<p>We worked with law enforcement to create this guide on how to ride safely with SubeUp. It explains<br /> what you can do to stay safe while riding.</p>
				<!-- <a href="#">READ GUIDE<i class="fa  fa-angle-right"></i></a> -->
			
			</div>
		</div>
		<div class="safetysection5">
			<div class="container">
				<h2>Get a safe ride with SubeUp</h2>
				<a href="/" class="btn">SIGN UP TO RIDE<i class="fa fa-long-arrow-right"></i></a>
			
			</div>
		</div>
	</div>
	
	
	
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui1.js"></script>
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
    $("#btnNext").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == (c - 1) ? currentTab : (currentTab + 1);
        tabs.tabs('select', currentTab);
        $("#btnPrevious").show();
        if (currentTab == (c - 1)) {
            $("#btnNext").hide();
        } else {
            $("#btnNext").show();
        }
    });
    $("#btnPrevious").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == 0 ? currentTab : (currentTab - 1);
        tabs.tabs('select', currentTab);
        if (currentTab == 0) {
            $("#btnNext").show();
            $("#btnPrevious").hide();
        }
        if (currentTab < (c - 1)) {
            $("#btnNext").show();
        }
    });
</script>

<script type="text/javascript">

$( document ).ready(function() {
    $('.menuOpen').click(function(){
    $('.menu, .map, .bcome_driver').toggle();
});

if ($(window).width() < 767) {
    $('.menuOpen').click(function(){
    $('.menu2').toggleClass('dis_block');
});
}
});


	
</script>
<script src="js/owl.carousel.js"></script>
 <script>
	jQuery(document).ready(function($) {
	 
	  $('.nonloop').owlCarousel({
		nav:true,
		center: false,
		dots: true,
		items:2,
		loop: false,
		 slideBy: 2,	
		responsive: {
		 0: {
				items: 1,
			  },
		 600: {
				items: 2,
			  },
		 1024: {
			items: 3
		  }
		 
		}
	  });
	});
</script> 	
<script>
  $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open2');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open2');
		};
	}	

	var accordion = new Accordion($('.accordion'), false);
});


</script>	
	
	

</body>
<% include footer.html %>
</html>