<% include provider_header.html %>
<script type="text/javascript">
window.history.forward();
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    
    $(document).ready(function() {
        $('#Card_number').keyup(function(event) {

            var Card_number = $('#Card_number').val();
      document.getElementById('Card_number').addEventListener('input', function (e) {
        e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
            });

      if(Card_number.length == 2)
            {

                $.ajax({
                    type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/provider_card_type', // the url where we want to POST  
                    data        :'Card_number='+Card_number, // our data object
                   datatype    :"json",
                   success:function(response){ 
                        $('#cvv').val('');
                        $('#cvv').attr("maxlength",response.code.size )  
                        document.getElementById('card_type').value=response.type;
                        $("#image").append("<img src='' style='position:absolute; margin-top:-20px;'/>");         
                    }
                })
            }
        });
        $('#modal_card').click(function(event){

            $('#Card_number').val('');
            $('#Exp_month').val('');
            $('#Exp_year').val('');
            $('#cvv').val('');
            $('.payment-errors').text('');
        });
    });

    function movetoNext(current, nextFieldID) {
        if (current.value.length >= current.maxLength) {
        document.getElementById(nextFieldID).focus();
        }
    }
</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    
    Stripe.setPublishableKey('<%= stripe_public_key %>');

    $(function() {
        var $form = $('#payment-form');
        $form.submit(function(event) {

            $form.find('.submit').prop('disabled', true);
            $('#modal-dismiss').hide();
            Stripe.card.createToken($form, stripeResponseHandler);
            return false;
      });
    });

    function stripeResponseHandler(status, response) {
         
        var $form = $('#payment-form');
        if (response.error) { 

            $form.find('.payment-errors').text(response.error.message);
            $form.find('.submit').prop('disabled', false); // Re-enable submission
            $('#modal-dismiss').show();
        } 
        else { 
            var token = response.id;
            last_four = response.card.last4;
            
            $form.append($('<input type="hidden" name="payment_token">').val(token));
            $form.append($('<input type="hidden" name="last_four">').val(last_four));
            $form.get(0).submit();
            $('#modal_change_password').modal('hide');
        }
    };
    

        
</script>
<style>
  .btn-default {
    width:100%; 
    font-family: 'RobotoRegular';font-size: 15px;background-color: #047f8f;border-color: #047f8f;float: left;color:#fff;
  }
  .btn-default:hover{
    background-color: #1a1d2e;
    border-color: #1a1d2e;
    color: #fff;
    border-radius: 0;

  }
</style>
<% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert" style="padding-top: 75px;margin-bottom: -135px;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
<% } %> 
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_selet_bg">
        <div class="row">
            <!--profile_user_section-->
            <div class="des_hied">
                <div class="pro_use_bg">
                    <div class="pro_use">
                        <img src="user_panel/images/profile_img.png">
                    </div>

                    <div class="pro_head"><h4>John Leo</h4></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pro_lft1">
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box_selet_lft">
                            <div class="box_sele_head">
                                <h5>Wallet</h5>
                                <a href="" data-toggle="modal" type="button" id="modal_card" data-target="#modal_add_wallet"  class="fa fa-plus-circle pull-right" style="font-size: 30px;cursor: pointer;color: black;"></a>
                            </div>        
                            <div class="box_sele_top">
                                <div class="box_label"><label>Balance</label></div>
                                <div class="box_label"><label><%= (provider_detail.wallet).toFixed(2) %>  <%= provider_detail.wallet_currency_code %></label></div>
        
                            </div>
                        </div>
                    </div>
                </div>
               <div class="box_sele_head"></div>
                <div class="row">
                     <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box_selet_lft">
                            <div class="box_sele_head">
                                <h5>selected Card</h5>
                                 <a href="" data-toggle="modal" type="button" id="modal_card" data-target="#modal_add_new_card"  class="fa fa-plus-circle pull-right" style="font-size: 30px;cursor: pointer;color: black;"></a>
                          

                            </div>

                            <div class="box_sele_cont">
                              <% if(Selected_card != "") { %>
                                <% Selected_card.forEach(function(data , index){ %>
                                    <div class="box_sele_top">
                                  
                                      <div class="box_label"><label>Card Number</label></div>
                                      <div class="box_label"><label>* * * * * * * * <%= data.last_four %></label></div>
                                        <div class="box_label">
                                        <img src="user_panel/images/select_tru.png" style="height:25px;width:25px;margin-left:60px;">

                                        <span class="fa fa-times-circle-o pull-right" onclick="remove_card('<%= data._id %>')" style="font-size: 30px;cursor: pointer;color: black;"></span>


                                    </div>  
                                     
                                    </div>
                                    <% }); %>
                                  <% } %>
                                  <% if(Selected_card != "") { %>
                                    <% Other_card.forEach(function(data , index){ %>
                                    <div class="box_sele_top" onclick="select_card('<%= data._id %>')">
                                    <div class="box_label"><label>Card Number</label></div>
                                      <div class="box_label"><label>* * * * * * * * <%= data.last_four %></label></div>
                                       <div class="box_label">
                                        <span class="fa fa-times-circle-o pull-right" onclick="remove_card('<%= data._id %>')" style="font-size: 30px;cursor: pointer;color: black;"></span>

                                    </div> 
                                    </div>
                                    <% }); %>
                                  <% } %>
                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pro_lft1">
                <div class="row">
                     <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box_selet_lft">
                            <div class="box_sele_head">
                                 <h5>Bank Detail</h5>
                            </div>
                       
                            <form class="form-horizontal" id="bank_detail_add_form" enctype="multipart/form-data" method="post" action="/add_bank_detail_web">
                                <div class="edit_pro_cont_bg">
                                   
                                    <input type="hidden" name="provider_id" value="<%= provider_id %>">
                                    <input type="hidden" name="account_holder_name" value="">

                                    <input type="hidden" name="account_holder_type" value="individual">
                                    <input type="hidden" name="web" value="1">


                                    <div class="cont_pro">
                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_upload_id %></label></div>
                                            <div class="edit_input_rgt"><input type="file" required class="form-control"  name="document"  id="document" accept="image/*" />  </div>
                                            <!--                                                <div class="edit_input_rgt"><input id="bank_name" type="text" name="bank_name" ></div>-->
                                        </div>
                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_bank_account_number %></label></div>
                                            <div class="edit_input_rgt">  <input type="text" class="form-control"   name="account_number" id="account_number" required />  </div>
                                            <!--                                                <div class="edit_input_rgt"><input id="bank_branch" type="text" name="bank_branch"></div>-->
                                        </div>
                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_routing_number %></label></div>
                                            <div class="edit_input_rgt">   <input type="text" onkeypress="return isNumberKey(event)" class="form-control"  name="routing_number" id="routing_number" required />  </div>
                                            <!--                                                <div class="edit_input_rgt"><input id="bank_account_holder_name" type="text"  class="form-control" name="bank_account_holder_name"></div>-->
                                        </div>

                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_SSN %></label></div>
                                            <div class="edit_input_rgt"> <input type="text" class="form-control"  name="personal_id_number" id="personal_id_number" required />  </div>
                                            <!--                                                <div class="edit_input_rgt"><input id="bank_account_number" onkeypress="return isNumberKey(event)" type="text"  class="form-control" name="bank_account_number"></div>-->
                                        </div>



                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_birth_date %></label></div>
                                            <div class="edit_input_rgt"> <input type="text"  class="form-control" name="dob" id="dob" required/>  </div>
                                            <!--                                                <div class="edit_input_rgt"><input type="text"  class="form-control"  id="bank_beneficiary_address" name="bank_beneficiary_address"></div>-->
                                        </div>



                                        <div class="edit_input">
                                            <div class="edit_label"><label><%= config_json.title_password %></label></div>
                                            <div class="edit_input_rgt"> <input type="password"  id="password" class="form-control" name="password" required/>  </div>
                                            <!--                                                <div class="edit_input_rgt"><input type="text"  class="form-control"  id="bank_unique_code" name="bank_unique_code"></div>-->
                                        </div>




                                        <div class="edit_input">
                                            <div class="edit_label">&nbsp;</div>
                                            <div class="edit_input_rgt">
                                                <input type="submit" name="" value="<%= config_json.button_add %>" class="act">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>       

    </div>
   

<div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="modal_add_wallet" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id='modal-dismiss' class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
                <h4 class="modal-title" id="smallModalHead">Add Wallet</h4>
            </div>
            <form action="/provider_add_wallet_amount"  method="post">
                <% if(Selected_card != "") { %>
                <% Selected_card.forEach(function(data_new){ %>
                <input type="hidden" name="card_id" value="<%= data_new._id %>"/>
                <% }); %>
                <% } %>
                <input type="hidden" name="type" value="11"/>
               
                <input type="hidden" name="provider_id" value="<%= provider_id %>">
                <span class="payment-errors"></span>

                <div class="modal-body form-horizontal">                        
                    <div class="form-group">
                        <div class="col-md-12" >
                            <input type="text"  placeholder="Enter Amount" onkeypress="return isNumberKey(event)" maxlength="19" data-stripe="number"  class="form-control" autocomplete="off"  name="wallet"/>
                        </div>
                    </div>

                      
                </div>
                <div class="modal-footer">
                    <input type="submit" class="submit btn btn-info" value="submit" />
                    
                </div>
                 

                
            </form>
        </div>
    </div>
</div> 

   
<div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="modal_add_new_card" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id='modal-dismiss' class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
                <h4 class="modal-title" id="smallModalHead"><%= config_json.title_add_card %></h4>
            </div>
            <form action="/provider_add_card" id="payment-form" method="post">
                 <input type="hidden" name="type" value="11"/>
                <span class="payment-errors"></span>

                <div class="modal-body form-horizontal">                        
                    <div class="form-group">
                        <div class="col-md-12" id="image">
                            <input type="hidden" name="card_type" id="card_type"/>
                            
                            <input type="text" onkeyup="movetoNext(this, 'Exp_month')" placeholder="Card Number" onkeypress="return isNumberKey(event)" maxlength="19" data-stripe="number"  class="form-control" autocomplete="off" id="Card_number" name="Card_number"/>
                        </div>
                    </div>

                    <div class="form-group">
                       
                        <div class="col-md-4">
                            <input type="text" data-stripe="exp_month" onkeyup="movetoNext(this, 'Exp_year')" onkeypress="return isNumberKey(event)" placeholder="MM" maxlength="2" class="form-control" id="Exp_month" name="Exp_month"/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" onkeyup="movetoNext(this, 'cvv')" onkeypress="return isNumberKey(event)" data-stripe="exp_year" class="form-control" maxlength="2" id="Exp_year" placeholder="YY" name="Exp_year"/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="cvv" data-stripe="cvc" onkeypress="return isNumberKey(event)" class="form-control" maxlength="3" placeholder="CVV" name="cvv"/>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <input type="submit" class="submit btn btn-info" value="submit" />
                    
                </div>
            </form>
        </div>
    </div>
</div> 
 <script type="text/javascript">
function remove_card(card_id) {
      $.ajax({
          type: 'POST',
          url: 'delete_provider_card',
          data: {'card_id': card_id, 'is_default': 1},
          dataType: "json",
          success: function (res) {
              location.reload();
          }
      });
  }
  function select_card(card_id) {
      $.ajax({
          type: 'POST',
          url: 'provider_card_selection',
          data: {'card_id': card_id},
          dataType: "json",
          success: function (res) {
              location.reload();
          }
      });
  }
</script>    
<script type="text/javascript">
  $( function() {
     $('#dob').datepicker({
        format: 'dd-mm-yyyy'
    });
 });
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}

</script>       
<script type="text/javascript">
   $(document).ready(function(){
       
        
        myTimer();
        $( "#bank_detail_add_form" ).submit(function(event) {
            event.preventDefault();

            var form = $('#bank_detail_add_form')[0];

            var data = new FormData(form);
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/add_bank_detail_web',
                dataType: "json",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function(response){
                    // alert(JSON.stringify(response));
                    if (response.error_code == 434) {
                        alert('Incorrect Password Try Again');
                    }else if (response.error_code == 601){
                        alert('Problem in Add bank detail Try Again');
                    }else if (response.success == true) {
                        location.reload();
                        alert('Detail Added Successfully');
                    }else{
                        alert(JSON.stringify(response.stripe_error+' Try Again'));
                    }
                },
                error: function() {
                }
            })
        });

        

        
    });
</script> 
<% include provider_footer.html %>