


<% include provider_header.html %>
               
              <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert" style="padding-top: 75px;margin-bottom: -135px;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>   


<style>
  
  .btn-default {
    width:100%; 
    font-family: 'RobotoRegular';font-size: 15px;background-color: #047f8f;border-color: #047f8f;float: left;color:#fff;
  }
  .btn-default:hover{
    background-color: #1a1d2e;
    border-color: #1a1d2e;
    color: #fff;
    border-radius: 0;

  }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_selet_bg">
    
               <div class="row">
                   <div class="table_bg" id="customers">
                       <div class="table">
                           <div class="table_top">
                               <div class="table_id" style="width: 8%;"><%= config_json.title_name %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_expired_date %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_unique_code %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_document %></div>
                               <div class="table_id Pickup" style="width: 12%;"><%= config_json.button_action %></div>

                           </div>
                           <% detail.forEach(function(data , index){ %>

                           <div class="table_top table_cont">
                                <div class="table_id"  style="width: 8%;"><%= data.name %></div>
                                <div class="table_id"  style="width: 12%;">
                                          <% if(data.expired_date == null || data.expired_date == "" ) { %>
                                            <%= config_json.title_no_expiry_date %>
                                            <% } else if(data.is_document_expired == false){ %>
                                            <%= moment(data.expired_date).format("DD MMM 'YY") %>
                                            <% } else {%>
                                            <Expired
                                          <% } %>
                                </div>

                                <div class="table_id Pickup" style="width: 12%;">
                                  <% if(data.unique_code == ''){ %> 
                                    No Unique Code
                                  <% } else { %>
                                    <%= data.unique_code %>
                                  <% } %>
                                </div>
                                <div class="table_id Pickup" style="width: 12%;" ><img src="<%= data.document_picture  != '' ?  setting_detail.image_base_url + data.document_picture : 'default.png' %>" height=50 width=50></div>
                                
                               <div class="table_id Pickup" style="width: 12%;">
                                   <div class="">
                                       <div class="select_btn_bg">
                                           <div class="action_btn_bg">
                                               <div class="act_btn_top" onclick="act_btn_top1(<%=index%>)">Action</div>
                                                <ul style="display: none;" class="act_btn_dit<%=index%>">
                                              
                                                    <% if(data.document_picture !== ""){ %>
                                                             <li>
                                                              <form method="get" action="/<%= data.document_picture %>">
                                                                    <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_view_download %> </button> 
                                                               </form>
                                                              </li>
                                                    <% } %>
                                                           
                                                                   <li>
                                                              <form method="post" action="/vehicle_documents_edit">
                                                                    <input type="hidden" name="id" value="<%= data._id %>" />
                                                                    <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.title_edit_document %> </button> 
                                                               </form>
                                                              </li>
                                                                   
                                                </ul>
                                           </div>
                                         </div>
                                   </div>
                               </div>
                           </div>
                           <% }); %>


                       </div>
                   </div>
               </div>
      
  </div> 
        
      <!-- END TIMELINE FILTER -->                
                
                                       
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->  

        <script type="text/javascript">
  $(document).ready(function() {

    var trip_id_array = new Array();
      var interval;
       $('#start_date').datepicker({
         format: 'yyyy-mm-dd',
         endDate: new Date(Date.now())

       }).on("input change", function (e) { 
        var end_date = $('#start_date').datepicker('getDate');
        end_date.setDate(end_date.getDate() + 1);
        $('#end_date').datepicker('setStartDate', end_date);
      });

       $('#end_date').datepicker({
         format: 'yyyy-mm-dd',
         endDate: new Date(Date.now())

       }).on("input change", function (e) { 
        var start_date = $('#end_date').datepicker('getDate');
        start_date.setDate(start_date.getDate() - 1);
        $('#start_date').datepicker('setEndDate', start_date);
      });

        
   
 });
</script>  
<% include provider_footer.html %> 