<% include provider_header.html %>
               
     <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert" style="padding-top: 75px;margin-bottom: -135px;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>   


<style>
  
  .btn-default {
    width:100%; 
    font-family: 'RobotoRegular';font-size: 15px;background-color: #047f8f;border-color: #047f8f;float: left;color:#fff;
  }
  .btn-default:hover{
    background-color: #1a1d2e;
    border-color: #1a1d2e;
    color: #fff;
    border-radius: 0;

  }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_selet_bg">
    
    <div class="row">
        <div class="table_bg" id="customers">
            <div class="table">
                <div class="table_top">
                    <div class="table_id Pickup" style="width: 8%;"><%= config_json.title_id %></div>

                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_date %></div>

                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_currency %></div>
                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_wallet_amount %></div>
                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_add_cut %></div>
                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_wallet %></div>
                    <div class="table_id Pickup" style="width: 12%;"><%= config_json.title_wallet_description %></div>
                </div>
                <% data.forEach(function(data , index){ %>

                <div class="table_top table_cont">
                    <div class="table_id"  style="width: 8%;"><%= data.unique_id %></div>
                    <div class="table_id"  style="width: 12%;"><%= moment(data.created_at).tz(timezone_for_display_date).format("DD MMM 'YY") %></div>
                    <div class="table_id"  style="width: 12%;"><%= provider_detail.wallet_currency_code %></div>
                
                <div class="table_id"  style="width: 12%;"><%= data.wallet_amount %></div>
                <div class="table_id"  style="width: 12%;"><%= data.added_wallet %></div>
                <div class="table_id"  style="width: 12%;"><%= data.total_wallet_amount %></div>
                <div class="table_id"  style="width: 12%;"><%= data.wallet_description %></div>
                
                </div>
                <% }); %>


            </div>
        </div>
    </div>
      
  </div> 
        
      <!-- END TIMELINE FILTER -->                
                
                                       
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->  

<script type="text/javascript">
  $(document).ready(function() {

    var trip_id_array = new Array();
      var interval;
       $('#start_date').datepicker({
         format: 'yyyy-mm-dd',
         endDate: new Date(Date.now())

       }).on("input change", function (e) { 
        var end_date = $('#start_date').datepicker('getDate');
        end_date.setDate(end_date.getDate() + 1);
        $('#end_date').datepicker('setStartDate', end_date);
      });

       $('#end_date').datepicker({
         format: 'yyyy-mm-dd',
         endDate: new Date(Date.now())

       }).on("input change", function (e) { 
        var start_date = $('#end_date').datepicker('getDate');
        start_date.setDate(start_date.getDate() - 1);
        $('#start_date').datepicker('setEndDate', start_date);
      });

        
   
 });
</script>  
<% include provider_footer.html %> 



