<% if(type == "provider") { %> 
  <% include provider/provider_header.html %>
<% } else { %> 
  <% include header.html %>
<% } %>  
               
                <!-- PAGE CONTENT WRAPPER -->

                <div class="page-content-wrap">
                <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>  
      <!-- START TIMELINE FILTER --> 
      <div class="col-md-12">                           
      <div class="panel panel-default">                                
        <div class="panel-body">
          <form class="form-horizontal" id="daily_earning" role="form" method="post" action="/provider_daily_earning">
          <input type="hidden" name="page" id="page" value="0" />
          <input type="hidden" name="type" id="type" value="<%= type %>" />
            <div class="form-group">     

              <div class="col-md-4">
               
                <div class="col-md-6">
                  <div style="text-align: center;">
                    <label><%= config_json.title_country %></label>   
                  </div>
                  <select class="form-control select" id="selected_country" data-live-search="true"  name="selected_country">
                    <option value="all" selected="selected">All</option>
                    <% country_list.forEach(function(country){ 
                      if(country.countryname == selected_country){ %>
                        <option value="<%= country.countryname %>" selected="selected"><%= country.countryname %></option>
                      <% } else { %>
                        <option value="<%= country.countryname %>"><%= country.countryname %></option>
                      <% } %>
                    <% }) %>
                  </select>
                </div>
                <div class="col-md-6">
                  <div style="text-align: center;">
                    <label><%= config_json.title_city %></label>   
                  </div>
                  <select class="form-control select" id="selected_city" data-live-search="true" name="selected_city">
                    <option value="all" selected="selected">All</option>
                    <% city_list.forEach(function(city){ 
                      if(city.cityname == selected_city){ %>
                        <option value="<%= city.cityname %>" selected="selected"><%= city.cityname %></option>
                      <% } else { %>
                        <option value="<%= city.cityname %>"><%= city.cityname %></option>
                      <% } %>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align: center;">
                  <label><%= config_json.title_search %></label>   
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                    <select class="form-control select" id="sel" name="search_item">
                      <% if(search_item == "provider_detail.first_name") { %>
                        <option value='provider_detail.first_name' selected="selected"><%= config_json.title_name %></option>
                        <option value='provider_detail.email'><%= config_json.title_email %></option>
                      
                      <% } else { %>
                        <option value='provider_detail.first_name'><%= config_json.title_name %></option>
                        <option value='provider_detail.email' selected="selected"><%= config_json.title_email %></option>
                      <% } %>
                    </select>
                  </div> 
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body panel-body-search">
                      <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" value="<%= search_value %>" name="search_value" placeholder="<%= config_json.title_search_text %>"/>
                      </div>                                                                
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align: center;">
                  <label><%= config_json.title_date_filter %></label>   
                </div>
                <div class="col-md-12">

                    <div class="btn-group">
                      <div class="input-group">
                        <input type="text" class="form-control datepicker" value="<%= filter_start_date %>" placeholder="Start Date" name="start_date" id="start_date" readonly/>
                        <span class="input-group-addon add-on">-</span>
                        <input type="text" class="form-control datepicker"  value="<%= filter_end_date %>" placeholder="End Date" name="end_date" id="end_date" readonly/>
                      </div>
                    </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="col-md-12">
                <ul class="pagination" >
                
                    <% include paginate_lookup.html %>

                   
                </ul> 
              </div> 
            </div>
            <div  class="form-group col-md-4" >
              <div class="col-md-6">
                <button type="submit" id="apply_filter" class="btn btn-primary" style="height: 35px; width: 100%;  "><span><%= config_json.button_apply %></span></button>
              </div>
            
              <div class="col-md-6">
                  <button type="button" class="btn btn-danger pull-right" style="height: 35px; width: 100%;" onClick ="export_excel()"><i class="fa fa-bars"></i><%= config_json.button_export_excel %></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <% if(detail.length != 0) { %>
            <div class="row">
              <div class="col-md-12">
                                      
                <div class="panel panel-default">
                    <div class="panel-body">                                
                        <div class="table-responsive" style="padding-bottom: 15px;">
                            <table class="table text-center" id="customers2">
                              
                                <thead>
                                    <tr>
                                        <th><%= config_json.title_total_trips %></th>
                                        <th><%= config_json.title_total_completed_trips %></th>
                                        <th><%= config_json.title_total_payment %></th>
                                        <th><%= config_json.title_card %></th>
                                        <th><%= config_json.title_cash %></th>
                                        <th><%= config_json.title_total_wallet_payment %></th>
                                        <th><%= config_json.title_total_admin_earning %></th>
                                        <th><%= config_json.title_total_provider_earning %></th>
                                        <th><%= config_json.title_currency %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= trip_total[0].total_trip %></td>
                                        <td><%= trip_total[0].completed_trip %></td>
                                        <td><%= (trip_total[0].total).toFixed(2) %></td>
                                        <td><%= (trip_total[0].card_payment).toFixed(2) %></td>
                                        <td><%= (trip_total[0].cash_payment).toFixed(2) %></td>
                                        <td><%= (trip_total[0].wallet_payment).toFixed(2) %></td>
                                        <td><%= (trip_total[0].admin_earning).toFixed(2) %></td>
                                        <td><%= (trip_total[0].provider_earning).toFixed(2) %></td>
                                        <td><%= admin_currency %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        <% } %>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- START SIMPLE DATATABLE -->
                            <div class="panel panel-default">
                            <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table text-center" id="customers2" style="margin-bottom: 45px;">
                                          
                                            <thead>
                                                <tr>
                                                    <th><%= config_json.title_provider_id %></th>
                                                    <th><%= config_json.title_name %></th>
                                                    <th><%= config_json.title_email %></th>
                                                    <th><%= config_json.title_date %></th>
                                                    <th><%= config_json.title_fees %></th>
                                                    <th><%= config_json.button_action %></th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                              <% detail.forEach(function(data){ %>
                                                <tr>
                                                    <td><%= data.provider_detail.unique_id %></td>
                                                    <td><%= data.provider_detail.first_name %> <%= data.provider_detail.last_name %></td>
                                                   
                                                    <td><% if(is_public_demo == true ) { %>
                          <%= config_json.PUBLIC_DEMO_EMAIL %>
                          <% }else{ %>
                           <%= data.provider_detail.email %> 
                           <% } %></td>
                                                    <td><%= moment(data.date_server_timezone).tz(timezone_for_display_date).format("DD MMM 'YY") %></td>
                                                     <td><%= data.admin_currency %><%= (data.total_provider_service_fees).toFixed(2) %> </td>
                                                     <td>
                                                       <div class="btn-group" style="margin-right:15px;">
                                                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= config_json.button_action %> <span class="caret"></span></a>
                                                      <ul class="dropdown-menu" role="menu">
                                                          <form method="post" action="/statement_provider_dailyearning">
                                                                <input type="hidden" name="id" value="<%= data._id %>" />
                                                                <input type="hidden" name="provider_id" value="<%= data.provider_id %>" />
                                                                <input type="hidden" name="date_server_timezone" value="<%= data.date_server_timezone %>" />
                                                                <input type="hidden" name="type" value="<%= type %>" />
                                                                <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_view_statements %> </button>
                                                               </form>
                                                          </li>
                                                     </ul>
                                                    </div>
                                                     </td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>        
                            </div>
                            <!-- END SIMPLE DATATABLE -->

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
<script type="text/javascript">
$(document).ready(function() {

   $('#start_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var end_date = $('#start_date').datepicker('getDate');
    end_date.setDate(end_date.getDate() + 1);
    $('#end_date').datepicker('setStartDate', end_date);
    $('.datepicker-dropdown').hide()
  });

   $('#end_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var start_date = $('#end_date').datepicker('getDate');
    start_date.setDate(start_date.getDate() - 1);
    $('#start_date').datepicker('setEndDate', start_date);
    $('.datepicker-dropdown').hide()
  });

  $("#selected_country").change(function () {
      $("#selected_city").empty();
      $("#selected_city").append('<option value="all">All</option>')
      if(this.value != 'all'){
        $.ajax({
          type: 'POST',
          url: '/get_city_list',

          data: 'country=' + this.value,
          dataType: "json",
          success: function (res) {
              res.city_list.forEach(function(city){
                  $("#selected_city").append('<option>'+city.cityname+'</option>')
              });
              $('#selected_city').selectpicker('refresh');
          }
        });
      }
      $('#selected_city').selectpicker('refresh');
  })

   
 });

 function export_excel(){


            $.ajax({
                      type: 'POST',
                      url: '/daily_earning_excel',
                      data: $('#daily_earning').serialize(),
                      dataType: "json",
                      success: function (res) {
                          window.open(res)
                      }
            });
      }
</script>   

<% if(type == "provider") { %> 
  <% include provider/provider_footer.html %>
<% } else { %> 
  <% include footer_list.html %>
<% } %>