<% include header.html %>



<!-- PAGE CONTENT WRAPPER -->
<div id="content" >
  <div class="page-content-wrap">
    <% if(typeof message != 'undefined'){ %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
      <p align="center"> <strong><%= message %></strong></p>
    </div>
    <% } %> 
    <!-- START TIMELINE FILTER --> 

    
  <!-- END TIMELINE FILTER -->
  <!-- START TIMELINE FILTER --> 
  <!-- END TIMELINE FILTER -->
  <!-- START TIMELINE FILTER --> 
  
      <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">

                       
                        <form class="form-horizontal" role="form" method="post" action="/add_admin">
                            <div class="col-md-4" style="text-align: center;">
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <button type="submit" class="btn btn-success btn-block"><span class="fa fa-plus"></span><%= config_json.button_add_new_Admin %></button>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
  
          <div class="panel panel-default">
              <div class="panel-body">                           
        <div class="table-responsive" style="padding-bottom: 175px;">
          <table class="table" id="customre2">               
            <thead>
              <tr>
                <th><%= config_json.title_user %></th>
                <th><%= config_json.title_email %></th>
                <th><%= config_json.title_type %></th>
                <th><%= config_json.button_action %></th>
              </tr>
            </thead>

            <tbody>
              <% detail.forEach(function(data){ %>
                <tr class="demo" >
                  <td><%= data.username %></td>
                  <td><% if(is_public_demo == true ) { %>
                          <%= config_json.PUBLIC_DEMO_EMAIL %>
                          <% }else{ %>
                           <%= data.email %> 
                           <% } %></td>

                            <td><% if(data.type == 0 ) { %>
                          <%= config_json.title_admin %>
                          <% }else{ %>
                           <%= config_json.title_sub_admin %> 
                           <% } %></td>
                  
                  
                  
                  <td>
                   <div class="btn-group">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= config_json.button_action %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <form method="post" action="/edit_admin">
                          <input type="hidden" name="id" value="<%= data.id %>" />
                          <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.title_edit_detail %></button>
                        </form>
                      </li>
                      <% if(data.id  != id ) { %>
                        <li>
                          <form method="post" action="/delete_admin">
                            <input type="hidden" name="id" value="<%= data.id %>" />
                            <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_delete %></button>
                          </form>
                        </li>
                      <% } %>
                     </ul>
                    </div>
                  </td>
                </tr>
                <div class="modal animated fadeIn" id="service_type_select<%= data.id %>" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
                  <div class="modal-dialog" style="width: 300px;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
                        <h4 class="modal-title"><%= config_json.title_service_type %></h4>
                      </div>
                      <form class="form-horizontal" id="demo">  
                        <div class="modal-body">
                          <div class="form-group">
                            <div class="col-md-12">
                              <select class="form-control select" name="service_type_list" id="service_type_list<%= data.id %>">
                                <option selected disabled hidden style='display: none'></option>
                              </select>
                              <div id="message<%= data.id %>"></div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                         <input type="button" name="button" id="submit<%= data.id %>" value="<%= config_json.button_submit %>">
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
              <% }); %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>                                                    
  </div>                               
</div>    
</div>




<script type="text/javascript" src="js/dist/pdfmake.min.js"></script>
<script type="text/javascript" src="js/dist/vfs_fonts.js"></script>
<script type="text/javascript">

  /*$(document).ready(function(){

    $('#demo').click(function(e){

      $('#header').show();
      var docDefinition = {
        content: [{
          style: 'tableExample',
          table: {

            body: [
            [ 'PROVIDER NAME', 'EMAIL', 'PHONE', 'ADDRESS' , 'ZIPCODE'],
            <% detail.forEach(function(data){ %>
              [ '<%= data.first_name %>  <%= data.last_name %>', '<%= data.email %>', '<%= data.country_phone_code %>  <%= data.phone %>', '<%= data.address %>','<%= data.zipcode %>'],
              <% }); %>
            ]
          }
        }]
      };

      pdfMake.createPdf(docDefinition).download(Math.random()+".pdf");
      $('#header').hide();

    });
  });*/

</script>

<script type="text/javascript">
  $(document).ready(function() {

   $('#start_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var end_date = $('#start_date').datepicker('getDate');
    end_date.setDate(end_date.getDate() + 1);
    $('#end_date').datepicker('setStartDate', end_date);
  });

   $('#end_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var start_date = $('#end_date').datepicker('getDate');
    start_date.setDate(start_date.getDate() - 1);
    $('#start_date').datepicker('setEndDate', start_date);
  });

   
 });
</script>  

</div>

<% include footer_list.html %> 