<% include header.html %>
    <div class="page-title">
        <h2><span class="fa fa-cogs"></span> <%= config_json.title_edit_profile %></h2>
    </div>
    <!-- END PAGE TITLE -->

    <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.title_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <% detail.forEach(function(data){ %>
                <form class="form-horizontal" method="post" action="/customerupdate" enctype="multipart/form-data">
                    <div class="panel panel-default">
                        <div class="panel-body form-group-separated">

                            <div class="panel-body">
                                <input type="hidden"  class="form-control" value="<%= data.picture %>" name="old_img_path"/>
                                <div class="col-md-9 col-xs-6" id="user_image">
                                    <img src="<%= data.picture != '' ? setting_detail.image_base_url + data.picture : 'default.png' %>" class="img-thumbnail" id="profile_sel_img"/>
                                    <input type="file" class="btn btn-primary btn-block btn-rounded fileinput" data-filename-placement="inside" name="file" title="Change Photo" id="profile_image" />
                                    <div id="profile_image_dimention"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" value="<%= data.id %>" name="id" />
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_first_name %></label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control" value="<%= data.first_name %>" name="first_name" id='first_name' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_last_name %></label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control" value="<%= data.last_name %>" name="last_name" id='last_name' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_email %></label>
                                <div class="col-md-9 col-xs-7">
                                    
                                  <% if(is_public_demo == true) { %>
                                 <input type="text" class="form-control" value="<%= config_json.PUBLIC_DEMO_EMAIL %>" name="email" id='email' />
                                <% } else{ %>
                                 <input type="text" class="form-control" value="<%= data.email %>" name="email" id='email' />
                                <% } %>
                                   
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_phone %></label>
                                <div class="col-md-9 col-xs-7">
                                    <div class="col-md-3">
                                        <input type="text"  name="country_phone_code" class="form-control" value="<%= data.country_phone_code  %>" readonly/>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="<%= data.phone %>" name="phone" onkeypress="return isNumberKey(event);" id="phone"
                                        maxlength="<%= phone_number_length %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_address %></label>
                                <div class="col-md-9 col-xs-7">
                                    <textarea class="form-control" rows="5" name="address" id='address'><%= data.address %></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_city %></label>
                                <div class="col-md-9 col-xs-7" id="">
                                    <select class="form-control select" data-live-search="true" name="city" id="city_name">
                                        
                                        <% city_list.forEach(function(city){ %>
                                        <% 
                                            if(data.city != null){ 
                                                if(data.city == city.cityname){ %>
                                                    <option selected><%= city.cityname %></option>
                                                <% } else { %>
                                                    <option><%= city.cityname %></option>
                                                <% } 
                                            } else { %>
                                            <option><%= city.cityname %></option>
                                                <% } %>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_zipcode %></label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" class="form-control" value="<%= data.zipcode %>" name="zipcode" id='zipcode' />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= config_json.title_password %></label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text"  class="form-control" value="" name="password"/>
                                </div>
                            </div>
                             
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <button class="btn btn-primary btn-rounded pull-right" type="submit" name="submit" id="submit" value="submit"><%= config_json.button_save %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <% }); %>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <script type="text/javascript">
        function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
$(document).ready(function() {
 $(".form-horizontal").validate({
   rules: {
     first_name: "required",
     last_name: "required",
    email: {
      required: true,
      email: true
    },
    address: {
        required: true
    },
    phone: {
      required: true,
      minlength: <%= phone_number_min_length %>,
      maxlength: <%= phone_number_length %>
    },
    zipcode: {
        required: true
    },
    address: {
        required: true
    } 
   }
});

 var _URL = window.URL || window.webkitURL;
$("#profile_image").change(function(e) {
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#profile_sel_img').attr('src', e.target.result);
        }

        reader.readAsDataURL(profile_image.files[0]);

        img.onload = function(e) {
            
            // if(this.width == this.height)
            // {
            //     $("#profile_image_dimention").html('<font color="red"></font>');
            //     $('#update').prop('disabled', false);
            // }
            // else
            // {
            //     $("#profile_image_dimention").html('<font color="red"><%= config_json.error_message_for_profile_image_aspect_ratio %> <b><%= config_json.profile_image_aspect_ratio %></b></font>');
            //     $('#update').prop('disabled', true);
            // }
        };
        img.src = _URL.createObjectURL(file);
    }
});

});

    </script>
    <% include footer_form.html %>