<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><title>Terms And Conditions</title>
    </head><body>
        <h1 align="center">TERMS &amp; CONDITIONS</h1>This Mobile 
Application Terms and Conditions of Use and End User License 
Agreement&nbsp; is a binding agreement between you (End User or you) and
 Taxi Provider. This Agreement governs your use of the Taxi 
Service mobile software application (including all related 
documentation, the Application or the App).BY USING THE SERVICE, YOU 
ACKNOWLEDGE AND AGREE TO THESE TERMS OF SERVICE, AND Taxi PRIVACY 
POLICY<br>By selecting the checkbox button you<br><strong>(a) </strong>acknowledge that you have read and understand this agreement;<br><strong>(b)</strong> represent that you are of legal age to enter into a binding agreement; and<br><strong>(c)</strong>
 accept this agreement and agree that you are legally bound by its 
terms. If you do not agree to these terms, do not download/install/use 
the application and delete it from your mobile device.<br><ul><li><strong>TERMS:-</strong></li></ul><strong>(1)</strong>
 In order to access and use the features of the Service, you acknowledge
 and agree that you will have to provide Taxi with your mobile 
phone number, email , address , Gender, Date of Birth information. You 
expressly acknowledge and agree that in order to provide the Service, 
Taxi&nbsp; access find and track of your location to use the Taxi 
Service when user want Taxi Service at him/her location. When providing 
your mobile phone number, you must provide accurate and complete 
information. You hereby give your express consent to Taxi to 
access your Location in order to provide and use the Service. We do 
collect names, addresses or email addresses, mobile phone numbers, 
gender , Date of Birth information information.&nbsp; You must notify 
Taxi immediately of any breach of security or unauthorised use of 
your mobile phone. Although Taxi will not be liable for your 
losses caused by any unauthorised use of your account, you may be liable
 for the losses of Taxi or others due to such unauthorised use.<br><strong>(2)</strong>
 The design of the Taxi Service along with Taxi created 
text, scripts, graphics, interactive features (as defined below), and 
the trademarks, service marks and logos contained therein ("Marks"), are
 owned by or licensed to Taxi, subject to copyright and other 
intellectual property rights under United States and foreign laws and 
international conventions.<br><ul><li><strong>CONDITIONS:-</strong></li></ul><strong>(1)</strong>
 YOU AGREE THAT YOUR USE OF THE Taxi SERVICE SHALL BE AT YOUR SOLE
 RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, ITS OFFICERS, DIRECTORS, 
EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN 
CONNECTION WITH THE SERVICE AND YOUR USE THEREOF. Taxi MAKES NO 
WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS
 SERVICE'S CONTENT AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY <br><strong>(1.1)</strong> ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, <br><strong>(1.2)</strong> PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICE, <br><strong>(1.3)</strong>
 ANY UNAUTHORISED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL 
PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, <br><strong>(1.4)</strong> ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICE, <br><strong>(1.5)</strong> ANY BUGS, VIRUSES, TROJAN HORSES, OR &nbsp;<br><strong>(1.6)</strong>
 ANY ERRORS OR OMISSION SIN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY
 KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, 
TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE Taxi SERVICE. <br><strong>(1.7)</strong>
 Taxi DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME 
RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A 
THIRD PARTY THROUGH THE Taxi SERVICE OR ANY HYPERLINKED WEBSITE OR
 FEATURED IN ANY USER STATUS SUBMISSION OR OTHER ADVERTISING, AND 
Taxi WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR 
MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF 
PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE 
THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST 
JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.    

</body></html>