<% include partner/partner_header.html %>
               
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
          <p align="center"> <strong><%= message %></strong></p>
      </div>
      <% } %>   
      <div class="col-md-12">                           
      <div class="panel panel-default">                                
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="post" action="/partner_provider_history">
          <input type="hidden" name="page" id="page" value="0" />   
            <div class="form-group">     

              <div class="col-md-4">
                <div style="text-align: center;">
                  <label><%= config_json.title_sort %></label>   
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                    <select class="form-control select" placeholder="Select to Sort" name="sort_item">
                      <% if(sort_field == "user_detail.first_name") { %>
                        <option value='unique_id'><%= config_json.title_id %></option>
                        <option value='user_detail.first_name' selected="selected"><%= config_json.title_user_name %></option>
                      
                      <% } else { %>
                        <option value='unique_id' selected="selected"><%= config_json.title_id %></option>
                        <option value='user_detail.first_name'><%= config_json.title_user_name %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                    <select class="form-control select" placeholder="Select to Sort" name="sort_item">
                      <% if(sort_order == "1") { %>
                      <option value="1" selected><%= config_json.sort_asc %></option>
                      <option value="-1"><%= config_json.sort_desc %></option>
                      <% } else{ %>
                      <option value="1" ><%= config_json.sort_asc %></option>
                      <option value="-1" selected><%= config_json.sort_desc %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align: center;">
                  <label><%= config_json.title_search %></label>   
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                    <select class="form-control select" id="sel" placeholder="Select to Sort" name="search_item">
                     
                        <option value='user_detail.first_name' selected><%= config_json.title_user_name %></option>
                        
                     
                    </select>
                  </div> 
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body panel-body-search">
                      <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" value="<%= search_value %>" name="search_value" placeholder="Search..."/>
                      </div>                                                                
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align: center;">
                  <label><%= config_json.title_date_filter %></label>   
                </div>
                <div class="col-md-12">

                  <div class="btn-group">
                    <div class="input-group">
                      <input type="text" class="form-control datepicker" value="<%= filter_start_date %>" placeholder="Start Date" name="start_date" id="start_date" readonly/>
                      <span class="input-group-addon add-on">-</span>
                      <input type="text" class="form-control datepicker"  value="<%= filter_end_date %>" placeholder="End Date" name="end_date" id="end_date" readonly/>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-8">
              <div class="col-md-12">
                <ul class="pagination" >
                 

                    <% include paginate_lookup.html %>

                    
                </ul> 
              </div> 
            </div> 
        
            <div  class="form-group col-md-4" >
              <div class="col-md-6" style="text-align: center;">
                <button type="submit" id="apply_filter" class="btn btn-primary" style="height: 35px; width: 50%;  "><span><%= config_json.button_apply %></span></button>
              </div>
              <div class="col-md-6">
                       <button class="btn btn-danger pull-right" type="button" style="height: 35px; width: 100%;" onClick ="export_excel()"><i class="fa fa-download"></i><%= config_json.button_export_excel %></button>

<!--                    <button class="btn btn-danger pull-right" type="button" style="height: 35px; width: 100%;" onClick ="$('#customers2').tableExport({type:'excel', escape:'false', ignoreColumn: [7]});"><i class="fa fa-download"></i> <%= config_json.button_export_excel %></button>-->
              </div>
            </div>    
          </form>


        </div>
      </div>
    </div>
  </div> 

  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">                                        
                           <div class="table-responsive" style="padding-bottom: 175px;">
                                        <table class="table text-center" id="customers2">
                                            <thead>
                                                <tr>
                                                      <th><%= config_json.title_id %></th>
                                                      <th><%= config_json.title_user %></th>
                                                      <th><%= config_json.title_date_time %></th>
                                                      <th><%= config_json.title_trip_status %></th>
                                                      <th><%= config_json.title_amount %></th>
                                                      <th><%= config_json.title_payment_mode %></th>
                                                      <th><%= config_json.title_payment_status %></th>
                                                      <th><%= config_json.button_action %></th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                              <% detail.forEach(function(data){ %>
                                                <tr>
                                                
                                                      <td><%= data.unique_id %></td>
                                                      <td><%= data.user_detail.first_name %> <%= data.user_detail.last_name %></td>
                                                      <td><%= moment(data.provider_trip_end_time).format("DD MMM 'YY") %></br><%= moment(data.provider_trip_end_time).format("hh:mm a") %></td>
                                                      <td><% if(data.is_trip_cancelled == 1) { %>
                                                      <span class="label label-danger"><%= config_json.title_cancelled_request %></span>
                                                      <% } else { if(data.is_provider_status == 2) { %>
                                                      <span class="label label-warning"><%= config_json.title_trip_status_provider_start %></span>
                                                      <% } else if(data.is_provider_status == 6) { %>
                                                      <span class="label label-info"><%= config_json.title_trip_status_waiting %></span>
                                                      <% } else if(data.is_provider_status == 9) { %>
                                                      <span class="label label-success"><%= config_json.title_trip_status_completed %></span>
                                                      <% } else if(data.is_provider_status == 0) { %>
                                                      <span class="label label-info">N/A</span>
                                                      <% }} %></td>
                                                      <td><%= data.total %></td>
                                                      <td><% if(data.payment_mode == 1) { %>
                                                            <span class="label label-default"><%= config_json.title_pay_by_cash %></span>
                                                        <% } else { %>
                                                        <span class="label label-primary"><%= config_json.title_pay_by_card %></span>
                                                    <% } %></td>
                                                      <td><% if(data.is_paid == 1) { %>
                                                      <span class="label label-success"><%= config_json.title_trip_status_completed %></span>
                                                      <% } else { %>
                                                      <span class="label label-warning"><%= config_json.titel_request_not_completed %></span>
                                                      <% } %>
                                                     </td>
                                                     <td>
                                                       <div class="btn-group" style="margin-right:15px;">
                                                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= config_json.button_action %> <span class="caret"></span></a>
                                                      <ul class="dropdown-menu" role="menu">
                                                         <li><form method="post" action="/partner_trip_map">
                                                                <input type="hidden" name="id" value="<%= data._id %>" /><input type="hidden" name="u_name" value="<%= data.user_detail.first_name %> <%= data.user_detail.last_name %>" />
                                                                <input type="hidden" name="pr_name" value="<%= data.provider_detail.first_name %> <%= data.provider_detail.last_name %>" />
                                                              
                                                                <button type="submit" class="btn btn-default" style="width:100%;" ><%= config_json.button_view_map %> </button>
                                                               </form></li>
                                                         
                                                     </ul>
                                                    </div>
                                                   </td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                            </div>
                            <!-- END SIMPLE DATATABLE -->

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->  

        <script type="text/javascript">
  $(document).ready(function() {

   $('#start_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var end_date = $('#start_date').datepicker('getDate');
    end_date.setDate(end_date.getDate() + 1);
    $('#end_date').datepicker('setStartDate', end_date);
  });

   $('#end_date').datepicker({
     format: 'yyyy-mm-dd',
     endDate: new Date(Date.now())

   }).on("input change", function (e) { 
    var start_date = $('#end_date').datepicker('getDate');
    start_date.setDate(start_date.getDate() - 1);
    $('#start_date').datepicker('setEndDate', start_date);
  });

   
 });
   function export_excel(){
            $.ajax({
                      type: 'POST',
                      url: '/generate_partner_provider_history_excel',
                      data: $('.form-horizontal').serialize(),
                      dataType: "json",
                      success: function (res) {
                          window.open(res)
                      }
            });
      }
</script>   

<% include footer_list.html %>