<% include partner/partner_header.html %>

<div class="page-content-wrap">
<% if(typeof message != 'undefined'){ %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
      <p align="center"> <strong><%= message %></strong></p>
    </div>
    <% } %> 

    
        <form class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-body form-group-separated">  

                <input type="hidden" name="bank_holder_type" value="11">
                <input type="hidden" name="bank_holder_id" value="<%= id %>">

                <input type="hidden" name="type" value="partner_provider_bank_detail">

                <input type="hidden" name="id" value="<%= detail._id %>"> 

                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_name %></label>
                        <div class="col-md-6 col-xs-6">
                        <label class="control-label"><%= detail.bank_name %></label>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_branch %></label>
                        <div class="col-md-6 col-xs-6">
                            
                             <label class="control-label"><%= detail.bank_branch %></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_account_number %></label>
                        <div class="col-md-6 col-xs-6">
                           
                             <label class="control-label"><%= detail.bank_account_number %></label>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_account_holder_name %></label>
                        <div class="col-md-6 col-xs-6">
                            
                             <label class="control-label"><%= detail.bank_account_holder_name %></label>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_beneficiary_address %></label>
                        <div class="col-md-6 col-xs-6">
                            
                             <label class="control-label"><%= detail.bank_beneficiary_address %></label>
                        </div>
                    </div>

                     
                    <div class="form-group">
                        <label class="col-md-3 col-xs-6  control-label"><%= config_json.title_bank_unique_code %></label>
                        <div class="col-md-6 col-xs-6 ">
                            
                             <label class="control-label"><%= detail.bank_unique_code %></label>
                        </div>
                    </div>      

                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label"><%= config_json.title_bank_swift_code %></label>
                        <div class="col-md-6 col-xs-6">
                            
                             <label class="control-label"><%= detail.bank_swift_code %></label>
                        </div>
                    </div>      

                    
                </div>
            </div>
        </form>
    </div>

<% include footer_form.html %>